{% extends 'polls/mask.html' %}
{% load static %}

{% block content %}

{% for i in articles %}
<article class="article">
        <h2 class="i-title">{{i.title}}</h2>
        <p class="i-content">{{i.content|linebreaks|truncatewords:50}}</p>
        <div class="dir-center">
             <img src="{% static 'polls/images/coffee.jpg' %}" alt=":(">
        </div>
        <p><a href="{{ i.get_absolute_url }}">Читать статью</a></p>
        <p>Автор: Имя Автора</p>
        <p>{{i.time_create}}</p>
</article>
{% endfor %}

{% endblock %}