{% load static %}
<!DOCTYPE html>
<html>
<head>
    <meta charset="UTF-8">
    <title>{{title}}</title>
    <link type="text/css" rel="stylesheet" href="{% static 'polls/css/styles.css' %}" />
</head>
<body class="fon">
    <header>
        <h1 class="text-green">{{title}}</h1>
    </header>
    <dir class="href">
        {% for i in menu %}
        <a href="{% url i.url_name %}">{{i.title}}</a>
        {% endfor %}
    </dir>
    {% block content %}
    {% endblock %}
    <footer>
        <p>&copy; 2023 Мой Блог. Все права защищены.</p>
    </footer>
</body>
</html>